.mainFooterContainer {
    /* background-color: red; */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    min-height: auto;
    width: auto;
}

.footerLeftPartContainer {
    /* background-color: lightgreen; */
    align-items: center;
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.footerLeftPartContentContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;
}


.verticalBar {
    background-color: black;
    height: auto;
    width: 0.15%;
    padding: 0;
}

.footerRightPartContainer {
    /* background-color: yellow; */
    align-items: center;
    gap: 10px;
}
.footerRightPartContentContainer {
    display: flex;
    flex-direction: row;
    gap: 4px;
}
.rightFooterContainer > button {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: auto;
}
.rightFooterContainer > button > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}



.filterOption {
    position: relative;
    border-radius: 0 5px 5px 5px;
    padding: 3px 4px;
    user-select: none;
    width: fit-content;
    background-color: #fff;
}

.menuOpen {
    background-color: #CCD1D2;
}
.menuClose {
    display: none;
}
.filterVoice {
    cursor: pointer;
}


.filterMenu {
    align-items: flex-start;
    background-color: white;
    border: 1px solid #CCD1D2;
    border-radius: 5px 5px 0 0;
    bottom: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    left: 0;
    position: absolute;
}

.filterMenuItem {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 4px 20px 4px 10px;
    height: fit-content;
    width: auto;
}


.filterMenuSliderItem {
    padding: 4px 24px 4px 16px;
    position: relative;
    height: fit-content;
    width: 250px;
    min-width: 200px;
}