.mainFooterContainer {
 /*   background-color: red;*/
    bottom: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    left: 0;
    min-height: 40px;
    padding-bottom: 40px;
    position: fixed;
    right: 0;
    width: 100%;
}


.footerLeftPartContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.footerLeftPartContentContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;
}


.verticalBar {
    background-color: black;
    height: auto;
    width: 0.15%;
    padding: 0;
}

.footerRightPartContainer {
    align-items: center;
    gap: 10px;
}
.footerRightPartContentContainer {
    display: flex;
    flex-direction: row;
    gap: 4px;
}
.rightFooterContainer > button {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: auto;
}
.rightFooterContainer > button > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}



.filterOption {
    position: relative;
    border-radius: 0 5px 5px 5px;
    padding: 0 5px 0;
    user-select: none;
    width: fit-content;
    background-color: #fff;
}
.filterOption:hover {
}
.menuOpen {
    background-color: #CCD1D2;
}
.menuClose {
    display: none;
}
.filterVoice {
    cursor: pointer;
}


.filterMenu {
    background-color: white;
    position: absolute;
    bottom: 100%;
    left: 0;
    display: grid;
    grid-template-columns: 1fr; /* Una colonna */
    gap: 5px;
    border: 1px solid #CCD1D2;
    border-radius: 5px 5px 0 0;
}

.filterMenuItem {
    align-items: center;
    display: grid; /* Utilizza un layout di griglia */
    grid-template-columns: min-content auto; /* Una colonna */
    grid-column-gap: 16px;
    padding: 4px 24px 4px 16px;
    height: fit-content;
}


.filterMenuSliderItem {
    padding: 4px 24px 4px 16px;
    position: relative;
    height: fit-content;
    width: 250px; /* Aggiunto */
    min-width: 200px; /* Aggiunto */
}