.mainDetailContainer {
    align-items: stretch;
    box-sizing: border-box;
    justify-items: flex-start;
    display: grid;
    grid-template-rows: min-content auto;
    margin-top: 80px;
    margin-bottom: 32px;
    padding: 0 20px 0;
    width: 100%;
    height: calc(100vh - 112px);
    background-color: white;
}

.nomeProgetto {
    color: #000000;
    white-space: nowrap;
    text-align: left;
    width: fit-content;
    height: fit-content;
    line-height: 100%;
    letter-spacing: 0;
    margin-left: -4px;
}

.progetti {
    box-sizing: border-box;
    float: top;
    display: grid;
    grid-template-columns: 51% auto;
    gap: 10px;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.progetti .left-side {
    align-items: flex-start;
    display: grid;
    grid-template-rows: min-content auto;
    height: 100%;
    width: 100%;
}

.progetti .progetto {
    letter-spacing: 0;
    white-space: nowrap;
    width: 100%;
}

.progetti .detail {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}

.campi {
    align-items: stretch;
    gap: 10px;
    display: grid;
    grid-template-columns: auto auto;
    height: auto;
}

.progetti .rectangle {
    align-self: stretch;
    border-radius: 5px;
    display: flex;
    flex: 1;
    position: relative;
    width: 100%;
}

.progetti .text-wrapper-4 {
    color: #000000;
    height: 23px;
    left: 28px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 8px;
    white-space: nowrap;
}

.progetti .foto {
    display: flex;
    position: relative;
    height: 100%;
    align-items: flex-start;
}

.mainImage {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    height: auto;
    aspect-ratio: 2;
    transform-origin: bottom left;
}

.progetti .right-side {
    align-items: flex-start;
    display: grid;
    grid-template-rows: 52% auto;
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 100%;
}

.image {
    height: 186px;
}

.progetti .descrizione {
    align-items: flex-start;
    box-sizing: border-box;
    align-self: stretch;
    display: grid;
    grid-template-rows: 10% auto;
    width: 100%;
    gap: 5px;
}

.progetti .desc {
    letter-spacing: 0;
    line-height: 140.6%;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
    height: fit-content;
}

.progetti .projDesc {
    text-align: left;
    letter-spacing: 0;
    line-height: 28px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: initial;
}

.progetti .immagini {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: 0;
}

.progetti .desc-2 {
    letter-spacing: 0;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.progetti .gallery {
    align-items: flex-start;
    border-radius: 4px;
    display: flex;
    gap: 20px;
    overflow: hidden;
    overflow-x: auto;
    scrollbar-width: initial;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    bottom: 0;
}

.progetti .gallery .smallImage {
}

.campi .frame {
    align-self: stretch;
    display: grid;
    grid-template-rows: min-content min-content min-content min-content;
    justify-items: flex-start;
    width: fit-content;
    height: auto;
    gap: 5px;
}

.campi .frame-2 {
    align-self: stretch;
    display: grid;
    grid-template-rows: auto auto auto auto;
    width: fit-content;
    gap: 5px;
}

.text-wrapper-detail {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 0;
    letter-spacing: 0;
    line-height: 140.6%;
}

.campi .text-wrapper-detail-2 {
    align-items: flex-start;
    align-self: center;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    bottom: 0;
    letter-spacing: 0;
    line-height: 28px;
}

.fruition {
    display: flex;
    flex-direction: row;
    gap: 10px
}


.API {
     align-items: center;
     height: 100%;
     justify-content: center;
     width: fit-content;
 }

.API .rectangle {
    align-self: stretch;
    background-color: #d9d9d9;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    justify-items: center;
    align-items: center;
    flex: 1;
    position: relative;
    width: 100%;
    height: 100%;
}

.API .text-wrapper {
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    white-space: nowrap;
}