.gridCompContainer {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);  /* Cambiato da 4 a 5 */
    grid-row-gap: 30px;
    grid-column-gap: 57px;
    margin-top: 100px;
    margin-left: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 250px);
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: initial;
}
