.divItem {
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

.divItem .itemDivImage {
    width: 330px;
    height: 140px;
    display: block;
    background-color: transparent;
    object-fit: contain;
}

.divItem .text {
    text-align: center;
    word-wrap: normal;
    padding: 10px 10px 0 10px;
    color: black;
}